body {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #4fa, #00e);
    color: white;
}

h1 {
    margin-top: 20px;
}

.mode {
    margin-top: 15px;
    font-size: 18px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.cell {
    width: 110px;
    height: 110px;
    font-size: 40px;
    background-color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.cell:hover {
    background-color: #dff9fb;
}

#status {
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
footer {
  margin-top: 30px;
  font-size: 20px;
}